html {
    font: normal 16px/1.5 "Playfair Display", Arial, Helvetica, Verdana, sans-serif;
}

body, input, textarea, option, select, table, form {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, sans-serif;
    line-height: 1.1;
    padding-bottom: 0.5em;
}

h1 { font-size: 2.50em; }
h2 { font-size: 2.10em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.45em; }
h5 { font-size: 1.20em; }
h6 { font-size: 1.00em; }


p, ul, ol, blockquote {
    padding-bottom: 1.5em;
}



blockquote {
    padding-left: 4rem;
    font-style: italic;
    opacity: 0.8;
    font-family: serif;
}

blockquote p:last-child {
    padding-bottom: 0;
    padding-top: 0;
}


code {
    font-family: 'Courier New', Courier, monospace;
}
