* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: rgb(238, 238, 238);
    padding: 7% 15%;
    margin: 0 auto;
}

ul li {
    display: inline-block;
    border: 0.4rem solid #000;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: 32%;
    height: auto;
    vertical-align: middle;
}

ul li:nth-child(3n+0) {
    margin-right: 0;
}

ul li img {
    width: 100%
}