@import url('reset.css');
@import url('box-sizing.css');
@import url('typography.css');
@import url('layout.css');
@import url('navigation.css');
@import url('post.css');
@import url('sidebar.css');
.site-header {
    border-bottom: 4px solid #333;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.site-header a {
    text-decoration: none;
    color: black;
}

.site-footer {
    border-top: 4px solid #333;
    padding-top: 1rem;
    margin-top: 1rem;
}

.cleaner:after {
    display: block;
    content: '';
    clear: both;
}

.image-align-right {
    float: right;
    width: 50%;
    margin: 0.5em;
    padding: 0.5em;
    border: 2px solid rgb(216, 212, 212);
}