@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');
* {
    margin: 0;
    padding: 0;
}

html {
    font: normal 16px/1.5 Helvetica, Verdana, sans-serif;
}

p {
    margin: 0em 4em 4em 6em;
}

p:first-child {
    margin-top: 8em;
}

a {
    font-family: inherit;
    text-decoration: none;
    color: white;
    
    border-radius: 0.3em;
    padding: 1em;
    background-color: #FF8C00;
}

p:first-child a {
    background-color: #008000;
}