html {
    font:  normal 16px/1.5 "PT Sans",Verdana, sans-serif;
}

body, table, form, input, select, option, textarea {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font:  bold 20px/1.5 Georgia, serif;
    padding-bottom: 1em;
}

p, ul, ol {
    padding-bottom: 1.5em;
}


blockquote {
    font-family: Georgia, serif;
    font-style: italic;
    opacity: 0.5;
    padding: 1rem;
    border-left: 2px solid #555;
    margin: 1rem;
} 

blockquote .author {
    font-style: italic;
    text-align: right;
    opacity: 0.5;
}
