*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font: inherit;
}

html {
    box-sizing: border-box;
    font: 16px/1.5 Helvetica, sans-serif;
}

h2 {
    font: 1.5em/1.2 Georgia, serif;
    margin-bottom: 1em;
}

body {
    max-width: 60rem;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article {
    margin: auto;
    padding: 1rem;
}